<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>شرکت ستاره سپهر افزار</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/mycss.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/style.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid top-menu">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-xs-2">
            <div class="logo">
              <h1><a href="/">ستاره سپهر</a></h1>
            </div>
          </div>
          <div class="col-md-8 col-xs-7">
            <ul class="top-nav">
              <li class="active"><a class="menu-btn" href="#first" >ابتدا</a></li>
              <li><a class="menu-btn" href="#about">درباره ما</a></li>
              <li><a class="menu-btn" href="#products">محصولات ما</a></li>
               @*<li><a class="menu-btn" href="#customer">مشتریان ها</a></li>*@ 
              <li><a class="menu-btn" href="#contact">تماس با ما</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-3">
            <a href="tel:02188039855">
              <div class="phone"><span class="lnr lnr-phone-handset"></span>02188039855</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            Copyright © 2021 setarehsepehr is registered in Iran. Website Designed by: <a href="https://www.linkedin.com/in/reza-soleymani-safa-582a7a130/" >R. S. Safa</a> 
        </div>
    </footer>
</body>
</html>
