@{
    ViewData["Title"] = "ستاره سپهر افزار";
}

<div id="first" class="container-fluid slided">
      <div class="container">
        <h1>سیستم یکپارچه مالی سپهر</h1>
        <p class="myText"> 
          استفاده از «سپـهر 3» بعنوان يك ابزار توانمند در جهت بالا بردن بهره وري موسسات ، از طريق نگهداري ، سازماندهي و كنترل عمليات مالي نقش موثر خود را در پيشبرد اهداف سازماني موسسات به اثبات رسانده است.
          «سپـهر 3» قادر است خود را با ساختارهاي تدوين شده شركتها و موسسات وفق داده و با پرهيز از پيچيدگي هاي ظاهري ، بسيار روان و ساده اطلاعات مورد نياز را در اختيار مديران ، كارشناسان و مشاوران قرار دهد.
          قدرتمندي و دقت «سپـهر 3» در انجام فرآيندها اين امكان را فراهم كرده است كه موسسات با اطمينان و اعتماد ، از امكانات و گزارشهاي آن استفاده نمايند.
          ستاره سپهر بعنوان يك شركت پويا ، همواره در حال توسعه و همگام با تكنولوژي روز سعي دارد ضمن شناسايي نيازهاي مشتريان خود ، راه كارهاي مناسب جهت تامين اين خواسته ها را فراهم نمايد.
          امكانات فراوان، قيمت مناسب ، خدمات پشتيباني فراگير و بهنگام بودن ، بعنوان كليدهاي موفقيت «سپـهر 3» موجب توصيه آن بعنوان ابزاري مطمئن و انتخابي درست براي شركتها و موسسات مي باشد.

        </p>
      </div>
</div>
<div id="about" class="container sec">
    <div class="col-md-7">
    <h3 class="h3-title">درباره ستاره سپهر</h3>
    <p class="myText">  
        شركت ستاره سپهر فعاليت خود را بر توليد نرم افزارهاي مالي و اداري با نگرشي متفاوت و بر پايه تجربيات چندين ساله مديران خود برنامه ريزي نموده است.در اين راستا با اخذ مجوز شوراي عالي انفورماتيك جزو شركتهاي داراي رتبه بندي آن شورا قرار گرفته است. كليد موفقيت ما پشتيباني موثر و كاراي محصولات ارايه شده برپايه اصل مشتري مداري مي باشد.
    </p>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div id="owl-about" class="owl-carousel">
            <div class="item"><img src="/images/about-min.jpg" alt="about"></div>
            <div class="item"><img src="/images/about-min.jpg" alt="about"></div>
            <div class="item"><img src="/images/about-min.jpg" alt="about"></div>
        </div>
        </div>
    </div>
</div>
<div id="products" class="container sec">
    <div class="text-center">
    <h3 class="h3-title">محصولات ما</h3>
    <div class="row">
        <div class="col-md-4 col-xs-6 feature">
        <div class="icon">
            <span class="lnr lnr-license"></span>
        </div>
        <div class="title">
            <h4>حسابداری</h4>
        </div>
        <div class="desc">
            <p>
                
            </p>
        </div>
        </div>
        <div class="col-md-4 col-xs-6 feature">
        <div class="icon">
            <span class="lnr lnr-store"></span>
        </div>
        <div class="title">
            <h4>انبار</h4>
        </div>
        <div class="desc">
            <p></p>
        </div>
        </div>
        <div class="col-md-4 col-xs-6 feature">
        <div class="icon">
            <span class="lnr lnr-cart"></span>
        </div>
        <div class="title">
            <h4>خرید و فروش</h4>
        </div>
        <div class="desc">
            <p></p>
        </div>
        </div>
        <div class="col-md-4 col-xs-6 feature">
        <div class="icon">
            <span class="lnr lnr-layers"></span>
        </div>
        <div class="title">
            <h4>دریافت و پرداخت</h4>
        </div>
        <div class="desc">
            <p></p>
        </div>
        </div>
        <div class="col-md-4 col-xs-6 feature">
        <div class="icon">
            <span class="lnr lnr-users"></span>
        </div>
        <div class="title">
            <h4> منابع انسانی و  حقوق و دستمزد</h4>
        </div>
        <div class="desc">
            <p></p>
        </div>
        </div>
        <div class="col-md-4 col-xs-6 feature">
        <div class="icon">
            <span class="lnr lnr-database"></span>
        </div>
        <div class="title">
            <h4>بهای تمام شده تولید</h4>
        </div>
        <div class="desc">
            <p></p>
        </div>
        </div>
        <div class="col-md-4 col-xs-6 feature">
        <div class="icon">
            <span class="lnr lnr-laptop-phone"></span>
        </div>
        <div class="title">
            <h4>گزارش تحت اندروید</h4>
        </div>
        <div class="desc">
            <p>
            </p>
        </div>
        </div>
        <div class="col-md-4 col-xs-6 feature">
        <div class="icon">
            <span class="lnr lnr-tablet"></span>
        </div>
        <div class="title">
            <h4>سفارش آنلاین</h4>
        </div>
        <div class="desc">
            <p>
            </p>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid banner">
      <h5>جهت مشاوره با ما تماس بگیرید!</h5>
      <a href="tel:02188039855" class="big-btn">02188039855<span class="lnr lnr-arrow-left"></span></a>
    </div>
    @* <div id="customer" class="container sec">
      <div class="row">
        <h3 class="h3-title">برخی از استفاده کنندگان سپهر 3</h3>
        <div class="col-md-3">
          <div class="portfolio">
            <p></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio">
            
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio">
            
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio">
            
          </div>
        </div>
      </div>
    </div> *@
<div class="container sec" id="contact">
    <div class="content-title">
    <h3 class="h3-title">تماس با ما</h3>
    </div>
    <div class="clearfix"></div>
    <div class="content-body">
    <div class="row">
        <div class="col-md-8 col-lg-8 contact-info wow fadeInLeft">
            <ul>
                <li><span class="icon lnr lnr-map-marker"></span>تهران میدان ونک، خ ملاصدرا، بین شیخ بهایی و شیراز جنب بانک پارسیان ساختمان سارا طبقه سوم واحد 13</li>
                <li><span class="icon lnr lnr-laptop-phone"></span> <a href="telto:02188039855">02188039855</a>  <br /> <a href="telto:02188039448">02188039448</a> </li>
                <li><span class="icon lnr lnr-envelope"></span><a href="mailto:info@setarehsepehr.com">info@setarehsepehr.com</a></li>
                <!-- <li><span class="icon lnr lnr-checkmark-circle"></span> <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p></li> -->
            </ul>
        @* <form class="contact-form" action="contact.php" method="post">
            <input type="text" name="name" value="" placeholder="نام و نام خانوادگی">
            <input type="text" name="email" value="" placeholder="ایمیل">
            <input type="text" name="phone" value="" placeholder="شماره همراه">
            <textarea name="message" placeholder="پیام شما در این قسمت"></textarea>
            <button type="submit" name="submit">ارسال پیام <span class="lnr lnr-arrow-left"></span></button>
        </form> *@
        </div>
        <div class="col-md-4 col-lg-4 contact-info wow fadeInLeft">
        @* <ul>
            <li><span class="icon lnr lnr-map-marker"></span>تهران میدان ونک، خ ملاصدرا، بین شیخ بهایی و شیراز جنب بانک پارسیان ساختمان سارا طبقه سوم واحد 13</li>
            <li><span class="icon lnr lnr-laptop-phone"></span> <a href="telto:02188039855">02188039855</a>  <br /> <a href="telto:02188039448">02188039448</a> </li>
            <li><span class="icon lnr lnr-envelope"></span><a href="mailto:info@setarehsepehr.com">info@setarehsepehr.com</a></li>
            <!-- <li><span class="icon lnr lnr-checkmark-circle"></span> <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p></li> -->
        </ul> *@
        </div>
    </div>
    </div>
</div>
